
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

a {
  color: #111b1a;
  text-decoration: none;
  align-content: center;
}

a:hover {
  color: #51cdbe;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}
/*---------------HERO SECTION -------------------------------------*/

p, span{
  font-size: 3rem;
  display:inline;
  padding: 0 0 0 15px;
}
.blinking-cursor {
  color: #2E3D48;
  -webkit-animation: 0.5s blink step-end infinite;
  -moz-animation: 0.5s blink step-end infinite;
  -ms-animation: 0.5s blink step-end infinite;
  -o-animation: 0.5s blink step-end infinite;
  animation: 0.5s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #34b7a7;
  border-top-color: #dcf5f2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 0.5s linear infinite;
  animation: animate-preloader 0.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #34b7a7;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #49cbbb;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #ffffff;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0);
  z-index: 997;
  padding: 0px 0;
  background: white;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #222222;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-right: 15px;
}

.header-social-links a {
  color: #000000;
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.header-social-links a:hover {
  color: #34b7a7;
}

.footer-social-links {
  padding-right: 15px;
  padding-top: 10px;
}

.footer-social-links a {
  color: #000000;
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.footer-social-links a:hover {
  color: #34b7a7;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #34b7a7;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #222222;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 0;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #34b7a7;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  font-size: 15px;
  padding-right: 15px;
  color: #222222;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #34b7a7;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #34b7a7;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Log In / Sign Up Buttons
--------------------------------------------------------------*/

#header .register-buttons{
  background: transparent;
  border-radius: 5px;

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/ai-solutions-neural-networks.jpg") top right;
  background-size: cover;
}

#hero .container {
  padding-top: 70px;
  position: relative;
  align-content: center;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
}

#hero h2 {
  color: #000000;
  margin: 10px 0 0 0;
  font-size: 26px;
  align-content: center;
}

#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #34b7a7;
}

#hero .btn-about:hover {
  background: #3dc8b7;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#form{
  align-content: center;
}

#ai-input{
  align-content: center;
}

textarea {
  margin: auto;
  display: block;
}

#submit-btn{
  align-content: center;
}

#main {
  width: 100%;
  height: 100vh;
  background: url("../img/ai-solutions-neural-networks.jpg") top right;
  background-size: cover;
}


.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #555555;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #34b7a7;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #e9e8e6;
  padding: 5px 0;
  color: #222222;
  font-size: 14px;
  text-align: center;
  width: auto;
  height: auto;
  background-color: #dddddc;
  margin-top:auto;
  padding: auto;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #34b7a7;
}

/*--------------------------------------------ABOUT PAGE ----------------------------------*/
.bodytext{
  color: #051a17;
  text-align: center;
  padding-top: 100px;
  height: 100px;
  font-weight: bold;

}

.paratext{
  color: #051a17;
  font-size: 35px;
  justify-content: center;
  padding-left: 350px;
  padding-top: 70px;
  padding-bottom: 50px;
  }

  #ai-input{
    height: 190px;
    width: 690px;
    padding-top: 50px;
    overflow-y: scroll;
    
  }
 .buttontext{
   width: 100px; height: 50px;
   text-align: center;
   border-radius: 12px;
   background-color: palegreen;
   transition-property: width, height;
   transition-duration: 2s;

 }
 .buttontext:hover{
  width:80px; height: 80px;
  background-color: rgb(168, 90, 102);
 }
#manage-button{
  text-align: center;
  padding-top: 140px;
  word-spacing: 15px;
  
}
.submitbutton{
  padding-left: 610px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
/*------------------------------------------------------------------------------------------*/

/*-----------------INDEX BUTTON----------------------------------------------------------------*/
#indexbutton{
  border-radius: 12PX;
  width: 200PX;
  height: 80PX;
  
}
.ibutton{
  padding-top: 50px;
  color: honeydew;
}
#typewriter{
  padding-left: 400px;
}
/*----------------------------------------------------------------------------------------------------*/

/*-----------------------------------OUTPUT PAGE-------------------------------------------------------*/

/*.bodyclass{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj7twnDeoDLvdOb1mHUTNHYn8LcRx-M-R38Q&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100% 100%;} */
  *{
    margin: 0%;
    padding: 0%;
    border: 0%;
  }
  .bodyclass{
    height: 100vh;
  }
  html{
    height: 100%;
  }

.divclass{
  font-family: 'Georama', sans-serif;
font-family: 'Source Code Pro', monospace;
background: url("../img/ai-solutions-neural-networks.jpg") top right;
background-size: cover;
 /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj7twnDeoDLvdOb1mHUTNHYn8LcRx-M-R38Q&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}
.lableclass{
  padding-top: 80px;
  font-size: 30px;
  
}
.lablediv{
  padding-left: 700px;
}
.textdiv{
  border-color: rgba(9, 9, 9, 0.9);
  padding-top:200px;
  padding-right: 50px;
}
.textareaclass{
  border-color: rgba(9, 9, 9, 0.9);
  border-style: groove;
}
.butttondiv{
  padding-top: 200px;
  padding-left: 800px;
  word-spacing: 50px;
  padding-bottom: 100px;

}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

