{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AI Writer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.js' %}" rel="icon">
  <!-- <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index">AI Writer</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="index">Home</a></li>
          <li><a href="about">AI</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="register-buttons">
        <button class="btn btn-outline-info"><a href="index" class="reg-button">Log In</a></button>
        <button class="btn btn-outline-info"><a href="index" class="reg-button">Sign Up</a></button>
      </div>
    </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>AI Writter write yours</h1>
      <div class="container">
        <p id="typewriter" data-typewriter=" BLOG, Story, Essay, Entrepreneur Story"></p><span class="blinking-cursor">|</span>
      </div>
      <div>
        <div class="ibutton"><a href="about"><button  id="indexbutton"class="btn btn-secondary">GET STARTED</button></a></div>
      </div>
     <!---- <h2>A Way To Change The World. Provide The Inputs, AI Writes The Blog. <br> Its That Simple.</h2>
      <a href="about" class="btn-about">Go to AI</a>
      <a href="about" class="btn-about">Buy Premium</a> -->
    </div>
  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>IEM Labs</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.iemlabs.com/">IEMA Research & Development Private Limited</a>
      </div>
    </div>
    <div class="footer-social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
   var typewriter = function(txt) {
    var container = document.getElementById('typewriter'),
      speed = 28,
      i = 0,
      wordsObj = txt.split(" ")
    container.textContent = "";
    console.log(txt)
    runAllWords();
    function runAllWords() {

      if (i < wordsObj.length) {
        var a = (i == 0) ? i : i - 1;
        setTimeout(function() {
          showWord(wordsObj[i], 0)
        }, wordsObj[a].length * speed);
      }
    }

    function showWord(word, countWord) {
      if (countWord < word.length) {
        setTimeout(function() {
          showLetter(word, countWord)
        }, speed);
      } else {
        container.textContent = container.textContent + " ";
        i += 1;
        runAllWords();
      }
      if (i === wordsObj.length) {
        console.log('complete')
      }
    }

    function showLetter(word, countWord) {
      container.textContent = container.textContent + word[countWord];
      showWord(word, countWord + 1);
    }
  }
  // window.onload = typewriter();
// var container = document.getElementById('typewriter'),
//   dataText = container.dataset.typewriter,
//   splitTxt = dataText.split(",")
// for (var x = 0, ln = splitTxt.length; x < ln; x++) {
//   setTimeout(typewriter(splitTxt[x]), x * 9000, x);
// }


var i = 0;
function myLoop () {  
//  create a loop function
	
   var dataType = document.getElementById('typewriter').dataset.typewriter,
       w = dataType.split(',')
   setTimeout(function () {    //  call a 3s setTimeout when the loop is called
      typewriter(w[i]);          //  your code here
      i++;                     //  increment the counter
      if (i < w.length) {            //  if the counter < 10, call the loop function
         myLoop();             //  ..  again which will trigger another 
      }                        //  ..  setTimeout()
   }, 2000)
}

myLoop();
  </script>
  
  </div>

</body>

</html>